<div class="calendar-container">
  <%= calendar number_of_days: 5 do |date| %>
    <%= date %>
  <% end %>
</div>

<aside class="activity-options">
  <div class="activity-item" id="activities_show_calendar">Show Calendar</div>
  <div class="activity-item" id="activities_add_food">Add Food</div>
  <div class="activity-item" id="activities_add_exercise">Add Activity</div>
  <div class="activity-item" id="activities_change_goals">Change Goals</div>
</aside>