/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}


.bg1 {
  z-index: 1;  
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #a86ae7;
}

.bg2 {
  z-index: 3;
  position: fixed;
  width: 200vw;
  height: 200vh;
  top: -50vh;
  left: 10vw;
}

.app-container {
  z-index: 4;
  position: absolute;
  width: 690px;
  height: 320px;
  margin: calc((100vh - 320px) / 2) auto 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.side_panel {
  width: 90px;
  height: 320px;
  background-color: #4d286b;
  display: block;
  position: absolute;
  top: 0;
  right: 600px;
  z-index: 5;
  transition: 1s linear;
}
#rolled {
  right: 0;
}
.side-panel-fill {
  display: block;
  position: absolute;
  height: 100%;
  width: 600px;
  right: 90px;
  background-color: #2f164f;
}

.panel-options {
  margin-top: 20px;
}
.panel-option {
  list-style: none;
  display: block;
  width: 90px;
  height: 70px;
}
.panel-option-link {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.panel-option svg {
  display: block;
  position: relative;
  top: calc((70px - 22px) / 2);
  margin: 0 auto;
  width: 22px;
  height: 22px;
  transition: 0.1s linear;
  fill: #856999;
}
.panel-option:hover svg {
  fill: #1acb70;
  transition: 0.1s linear;
  transform: rotate(45deg);
}
.panel-option:last-child:hover svg {
  transform: rotate(0deg);
}

.main-panel {
  background-color: #2f164f;
  width: 600px;
  height: 320px;  
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}



.calories-main {
  width: 100%;
  height: 100%;
  display: block;
}
.calories-main > div {
  float: left;
}


.calories-eaten,
.calories-burned {
  display: block;
  position: relative;
  width: 190px;
  height: 100%;
  letter-spacing: 1px;
}
.calories-data-title {
  color: #FFF;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  top: 90px;
  font-size: 13px;
}
.calories-data-info {
  display: block;
  width: 100%;
  position: relative;
  top: 200px;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}
.calories-data-info span {
}
.calories-data-info p { 
  color: #FFF; 
}
#calories-eaten  { color: #1aad5f; }
#calories-burned { color: #ff5833; }
.calories-canvas-container {
  display: block;
  position: relative;
  width: 58px;
  margin: 90px auto 0;
  padding-left: 7px; 
}
#calories_eaten_canvas,
#calories_burned_canvas {
  transform: rotate(45deg);
}

.calories-left {
  display: block;
  position: relative;
  width: 220px;
  height: 100%;
  margin-top: 50px;
}
.calories-left-counter {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  top: 75px;
}
.calories-left-counter #calories-left-value {
  font-size: 38px;
  color: #FFF;
  line-height: 40px;
}
.calories-left-counter p {
  line-height: 30px;
  color: #6f5c89;
}
#calories_left_canvas {
  transform: rotate(deg);
}
#calories-value-hidden,
#calories-goal-hidden {
  display: none;
}


.devise-container {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  color: #DDD;
  font-size: 13px;
}

.devise-container > h2 {
  margin: 10px 0 20px;
}

.devise-container form {
  display: block;
  padding: 0 10px;
}

.devise-container .field {
  display: block;
  width: 100%;
  line-height: 30px;
  clear: both;
  margin-bottom: 5px;
}

.devise-container .field label {
  vertical-align: top;
}
.devise-container .field em {
}

.devise-container .field input {
  width: 60%;
  float: right;
  clear: both;
  outline: none;
  border: none;
  margin-top: 2px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #DDD;
  padding: 1px 5px;
}

.devise-container .field input:focus {
  border-bottom: 1px #1acb70;
}

.devise-container .field input[type='checkbox'] {
  width: 60%;
  height: 20px;
}

.devise-container .actions input {
  display: block;
  margin: 15px auto 0;
  width: 300px;
  height: 25px;
  outline: none;
  color: #CCC;
  border: 1px solid #E9B0F9;
  background-color: #4d286b;
}

.devise-links {
  display: block;
  position: absolute;
  bottom: 40px;
  width: 90%;
  height: 34px;
  border-top: 1px solid #BF6FE6;
  line-height: 17px;
  padding-top: 10px;
}

.cancel-account {
  border-top: 1px solid #BF6FE6;
  margin-top: 20px;
  padding-top: 15px;
}
.cancel-account h3 {
  display: block;
  float: left;
  width: 200px;
  line-height: 20px;
}
.cancel-account-button {
  display: block;
  float: right;
  width: 300px;
  height: 22px;
  outline: none;
  color: #CCC;
  border: 1px solid #E9B0F9;
  background-color: #A346E0;
}

.flash-notice { background-color: #8AD28C; }
.flash-alert  { background-color: #F78A82; }

.flash-notice, 
.flash-alert {
  display: block;
  padding-left: 40px;
  padding-right: 40%;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.close-notice {
  display: block;
  height: 25px;
  width: 25px;
  left: 11px;
  line-height: 25px;
  position: absolute;
  top: 12px;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
}

.devise-hide {
  display: none;
}
.field_with_errors {
  display: inline;
}
