/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  width: 100%;
  min-width: 690px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}


.bg1 {
  z-index: 1;  
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #a86ae7;
}

.bg2 {
  z-index: 3;
  position: fixed;
  width: 200vw;
  height: 200vh;
  top: -50vh;
  left: 10vw;
}

.app-container {
  z-index: 4;
  position: absolute;
  width: 690px;
  height: 320px;
  margin: calc((100vh - 320px) / 2) auto 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.side-panel {
  width: 90px;
  height: 320px;
  background-color: #4d286b;
  display: block;
  position: absolute;
  top: 0;
  right: 600px;
  z-index: 5;
  transition: 1s linear;
}
#rolled {
  right: 0;
}
.side-panel-fill {
  display: block;
  position: absolute;
  height: 100%;
  width: 600px;
  right: 90px;
  background-color: #2f164f;
}

.panel-options {
  margin-top: 20px;
}
.panel-option {
  list-style: none;
  display: block;
  width: 90px;
  height: 70px;
}
.panel-option-link {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.panel-option svg {
  display: block;
  position: relative;
  top: calc((70px - 22px) / 2);
  margin: 0 auto;
  width: 22px;
  height: 22px;
  transition: 0.1s linear;
  fill: #856999;
}
.panel-option:hover svg {
  fill: #1acb70;
  transition: 0.1s linear;
  transform: rotate(45deg);
}
.panel-option:last-child:hover svg {
  transform: rotate(0deg);
}

.main-panel {
  background-color: #2f164f;
  width: 600px;
  height: 320px;  
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}



.calories-main {
  width: 100%;
  height: 100%;
  display: block;
}
.calories-main > div {
  float: left;
}


.calories-eaten,
.calories-burned {
  display: block;
  position: relative;
  width: 190px;
  height: 100%;
  letter-spacing: 1px;
}
.calories-data-title {
  color: #FFF;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  top: 90px;
  font-size: 13px;
}
.calories-data-info {
  display: block;
  width: 100%;
  position: relative;
  top: 200px;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}
.calories-data-info span {
}
.calories-data-info p { 
  color: #FFF; 
}
#calories-eaten  { color: #1aad5f; }
#calories-burned { color: #ff5833; }
.calories-canvas-container {
  display: block;
  position: relative;
  width: 58px;
  margin: 90px auto 0;
  padding-left: 7px; 
}
#calories_eaten_canvas,
#calories_burned_canvas {
  transform: rotate(45deg);
}

.calories-left {
  display: block;
  position: relative;
  width: 220px;
  height: 100%;
  margin-top: 50px;
}
.calories-left-counter {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  top: 75px;
}
.calories-left-counter #calories-left-value {
  font-size: 38px;
  color: #FFF;
  line-height: 40px;
}
.calories-left-counter p {
  line-height: 30px;
  color: #6f5c89;
}
#calories-exercise-hidden,
#calories-food-hidden {
  display: none;
}


.devise-container {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  color: #DDD;
  font-size: 13px;
}

.devise-container > h2 {
  margin: 10px 0 20px;
}

.devise-container form {
  display: block;
  padding: 0 10px;
}

.devise-container .field {
  display: block;
  width: 100%;
  line-height: 30px;
  clear: both;
  margin-bottom: 5px;
}

.devise-container .field label {
  vertical-align: top;
}
.devise-container .field em {
}

.devise-container .field input {
  width: 60%;
  float: right;
  clear: both;
  outline: none;
  border: none;
  margin-top: 2px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #DDD;
  padding: 1px 5px;
}

.devise-container .field input:focus {
  border-bottom: 1px #1acb70;
}

.devise-container .field input[type='checkbox'] {
  width: 60%;
  height: 20px;
}

.devise-container .actions input {
  display: block;
  margin: 15px auto 0;
  width: 300px;
  height: 25px;
  outline: none;
  color: #CCC;
  border: 1px solid #E9B0F9;
  background-color: #4d286b;
}

.devise-links {
  display: block;
  position: absolute;
  bottom: 40px;
  width: 90%;
  height: 34px;
  border-top: 1px solid #BF6FE6;
  line-height: 17px;
  padding-top: 10px;
}

.cancel-account {
  border-top: 1px solid #BF6FE6;
  margin-top: 20px;
  padding-top: 15px;
}
.cancel-account h3 {
  display: block;
  float: left;
  width: 200px;
  line-height: 20px;
}
.cancel-account-button {
  display: block;
  float: right;
  width: 300px;
  height: 22px;
  outline: none;
  color: #CCC;
  border: 1px solid #E9B0F9;
  background-color: #A346E0;
}

.flash-notice { background-color: #8AD28C; }
.flash-alert  { background-color: #F78A82; }

.flash-notice, 
.flash-alert {
  display: block;
  padding-left: 40px;
  padding-right: 40%;
  min-width: 690px;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.close-notice {
  display: block;
  height: 25px;
  width: 25px;
  left: 11px;
  line-height: 25px;
  position: absolute;
  top: 12px;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
}

.devise-hide {
  display: none;
}
.field_with_errors {
  display: inline;
}



.tab-container {
  display: none;
  width: 510px;
  float: left;
  color: #EEE;
}
.tab-container.tab-active {
  display: block;
}
.activity-active {
  background-color: #2f164f;
}

.calendar-container {
  display: block;
  padding: 40px 20px;
}
.form-day-link {
  display: block;
  width: 100%;
  height: 100%;
}
.form-day-link:hover .table-cell-counters {
  background-color: #4d286b;
}
.activity-options {
  display: block;
  float: right;
  width: 90px;
  height: 100%;
  background-color: #4d286b;
  color: #9F8AAD;
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  vertical-align: center;
  padding-top: 20px;
}

.simple-calendar {
  color: #EEE;
  font-size: 14px;

  .calendar-heading {
    margin-bottom: 30px;
    
    a {
      color: #EEE;
    }
    a:hover {
      color: #AAA;
    }
  }
  .calendar-heading a:first-child {
    width: 20%;
    float: left;
  }
  .calendar-heading span {
    float: left;
    width: 60%;
    text-align: center;
  }
  .calendar-heading a:last-child {
    width: 20%;
    float: right;
    text-align: right;
  }
  .calendar-heading::after {
    display: table;
    content: '';
    clear: both;
  }
  
  table {
    width: 100%;
  }
  table thead tr {
    height: 40px;
    line-height: 30px;
  }
  table tbody tr {
    height: 80px;
    font-size: 13px;
  }
  .day {
    border-right: 1px solid #581F85;
    width: calc(100% / 7);
  }
  .day:last-child {
    border: none;
  }
  .table-cell-date {
    display: block;
    height: 20px;
    padding-top: 4px;
    width: 100%;
    text-align: center;
    background-color: #4d286b;
  }
  .cell-foods { color: #16dc6d; }
  .cell-exercises { color: #ff5833; }
  .cell-foods,
  .cell-exercises {
    text-align: center;
  }
  .cell-foods {
    padding-top: 4px;
  }
}

.activity-item {
  display: block;
  width: 100%;
  height: 70px;
  padding: 16px 20px;
  border-bottom: 1px dashed #2f164f;
  cursor: pointer;
}
.activity-item:last-child {
  border-bottom: none 
}
.activity-item:hover {
  color: #1acb70;
}

.add-form {
  display: block;
  padding: 20px 20px;
  input {
    display: block;
    height: 30px;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    outline: none;
    border: none;
    color: #EEE;
    text-align: center;
    font-size: 13px;
  }
  input[type='text'] {
    margin-bottom: 5px;
    height: 35px;
  }
  input[type='number'] {
    padding-left: 10px;
    height: 35px;
  }
  input[type='text']::placeholder,
  input[type='number']::placeholder {
    font-size: 13px;
    color: #AAA;    
  }

  span.form-date {
    display: block;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
  }
  input[type='date'] {
    padding-left: 40px;
  }
  input[type='submit'] {
    border: 1px solid #E9B0F9;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
#food_tab h3,
#exercise_tab h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

#goals_tab h3 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}
.goals-form {
  .goals-group {
    display: block;
    margin: 10px auto 20px;
    width: 50%;
  }
  .goals-group::after {
    display: table;
    content: '';
    clear: both;
  }
  .goal-label {
    display: block;
    float: left;
    width: 30%;
    text-align: left;
    padding-right: 27px;
    padding-top: 8px;
    font-size: 13px;
  }
  .calorie-goal-input {
    display: block;
    height: 30px;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    outline: none;
    border: none;
    color: #EEE;
    text-align: center;
    font-size: 13px;
  }
  .calorie-goal-submit {
    width: 50%;
    display: block;
    margin: 20px auto 0;
  }

  input[type='submit'] {
    border: 1px solid #E9B0F9;
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    color: #EEE;
  }
}


.day-container {
  padding: 40px 20px;
  font-size: 14px;
  .day-info {
    display: block;
  }
  .day-info .calendar-link {
    display: inline-block;
    width: 30%;
  }
  .day-info .calendar-link:hover {
    color: #AAA;
    cursor: pointer;
  }
  .day-info .day-date {
    display: inline-block;
    width: 69%;
    text-align: center;
  }

  .day-tabs {
    display: block;
    margin-top: 30px;
    border-top: 1px solid #E9B0F9;
    border-left: 1px solid #E9B0F9;
    border-right: 1px solid #E9B0F9;
    border-bottom: 1px dashed #E9B0F9;
    overflow: auto;
  }
  .day-tabs div {
    display: block;
    height: 30px;
    line-height: 30px;
    vertical-align: center;
    width: 50%;
    float: left;
    text-align: center;
  }
  .day-tabs div:first-child {
    border-right: 1px dashed #E9B0F9;
  }
  .day-tabs div.active-day-tab {
    color: #1acb70;
    background-color: #4d286b;
  }
  .day-tabs div:hover {
    cursor: pointer;
    color: #1acb70
  }
  .day-tab::after {
    display: table;
    content: '';
    clear: both;
  }

  .day-table-container {
    display: none;
    border-bottom: 1px solid #E9B0F9;
    border-left: 1px solid #E9B0F9;
    border-right: 1px solid #E9B0F9;
  }
  .day-table-container.day-table-active {
    display: block;
  }
  table {
    display: block;
    height: 182px;
    table-layout: fixed;
    overflow-y: auto;
  }
  table thead {
    text-align: left;
  }
  table thead tr {
    height: 24px;
    line-height: 24px;
    vertical-align: center;
  }
  table tbody tr {
    font-size: 13px;
    height: 17px; 
  }
  table tbody tr:nth-child(2n - 1) {
    background-color: #432668;
  }
  .head-count,
  .body-count {
    width: 30px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-right: 1px dashed #9C31B9;
  }
  .head-name,
  .body-name {
    width: 277px;
    padding: 0 8px;
    border-right: 1px dashed #9C31B9;
  }
  .body-calories,
  .head-calories {
    width: 80px;
    text-align: center;
    border-right: 1px dashed #9C31B9;
  }
  .body-remove,
  .head-remove {
    width: 80px;
    text-align: center;
  }
  .body-remove a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .body-remove a:hover {
    background-color: #F78A82;
    cursor: pointer;
  }
}

#calendar_default {
  display: block;
}
#day_tab {
  display: none;
}
#day_tab {
  width: 100%;
  height: 100%;
}
#day_date_hidden {
  display: none;
}